.main {
  background: url("../images/david-werbrouck-VsejBFGkeyM-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divBienvenida {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 50%;
}

.h1Bienvenido {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
}
.aNuevaVenta {
  background: #fff;
  color: #000;
  padding: 1rem 2rem;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 0.3s ease;
  font-family: "Caudex", serif;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}

.aNuevaVenta:hover {
  background-color: rgb(13, 15, 18);
  color: #fff;
}
.aNuevaVenta::after {
  content: "";
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.aNuevaVenta:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
