.main {
  height: 100vh;
}

.divPrincipal {
  background-image: url("../images/uran-wang-_TiHt6kYepU-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 70px;
}

.buttonHeader {
  background: transparent;
  color: #fff;
  border-radius: 7px;
  font-size: 1.8rem;
  font-weight: 600;
  transition: all 0.3s ease;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  margin-left: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  width: 40px;
  padding-top: 2px;
}

.buttonHeader:hover {
  color: #fff;
  text-shadow: #fff 0 0 8px;
}

.divRegistroYVentaOuter {
  display: flex;
}

.divRegistroYVenta {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.divClienteYRegistro {
  width: 100%;
  height: calc(100vh - 20px);
  text-align: center;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-top-left-radius: none;
  margin-top: 10px;
  margin-right: 10px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.H1Cliente {
  color: #fff;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  width: 60%;
  padding: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.formBuscarCliente {
  text-align: center;
  width: 60%;
  padding: 10px;
  margin-top: 5px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.formBuscarCliente input {
  width: 200px;
  height: 35px;
  border-radius: 5px;
  border: none;
  text-align: center;
  outline: none;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 1.1rem;
  background-color: rgb(228, 228, 231);
}

.btnBuscarCliente {
  background: transparent;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 100;
  transition: all 0.2s ease;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100px;
  height: 36px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #fff;
  margin-left: 10px;
}

.btnBuscarCliente:hover {
  color: rgb(0, 0, 0);
  background-color: #fff;
  scale: 1.03;
  text-shadow: #fff 0 0 8px;
  font-weight: 800;
}

.btnRegistrarCliente {
  background: transparent;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 100;
  transition: all 0.2s ease;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100px;
  height: 36px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #fff;
  margin-left: 10px;
}

.btnRegistrarCliente:hover {
  color: rgb(0, 0, 0);
  background-color: #fff;
  scale: 1.03;
  text-shadow: #fff 0 0 8px;
  font-weight: 800;
}

.btnRegistrar {
  background: transparent;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 100;
  transition: all 0.2s ease;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100px;
  height: 36px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 2px solid rgb(0, 224, 97);
}

.btnRegistrar:hover {
  color: rgb(53, 62, 57);
  background-color: rgb(0, 224, 97);
  font-weight: 800;
  border: none;
}

.btnCancelar {
  background: transparent;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 100;
  transition: all 0.2s ease;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100px;
  height: 36px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 2px solid rgb(255, 0, 60);
  margin-left: 10px;
}

.btnCancelar:hover {
  color: #fff;
  background-color: rgb(255, 0, 60);
  font-weight: 800;
  border: none;
}

.divClienteEncontrado {
  width: 60%;
  margin-top: 5px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px #00000033;
  border-radius: 7px;
  padding-top: 2px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.divClienteEncontrado h3 {
  color: #fff;
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  margin-top: 8px;
}

.divRegistroCliente {
  margin-top: 5px;
  width: 60%;
  backdrop-filter: blur(10px);

  box-shadow: 0 0 10px #00000033;
  border-radius: 7px;
  padding-top: 2px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divRegistroCliente form {
  margin-top: 10px;
  margin-bottom: 10px;
}

.divRegistroCliente form input {
  width: 200px;
  height: 35px;
  border-radius: 5px;
  border: none;
  text-align: center;
  outline: none;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 1.1rem;
  background-color: rgb(228, 228, 231);
}

.divPares {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 8px;
}

.divCondicionTributaria {
  width: 200px;
  height: 36px;
  border-radius: 5px;
  border: none;
  text-align: center;
  outline: none;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 1.1rem;
}

.divBotonera {
  width: 100%;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-right: 8px;
  margin-top: 5px;
}

.divFormaPago {
  width: 100%;
  height: calc(100vh - 20px);
  text-align: center;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-top-left-radius: none;
  margin-top: 10px;
  margin-right: 10px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.divFormaPago h3 {
  color: #fff;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  width: 60%;
  backdrop-filter: blur(10px);

  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.divFormaPagoInner {
  text-align: center;
  width: 60%;
  padding: 10px;
  margin-top: 5px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.divSelección {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.divTarjeta {
  width: 20%;
  text-align: center;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 9px;
  margin-left: 7px;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  gap: 10px;
  cursor: pointer;
  border: 2px solid #fff;
}

.divTarjeta:hover {
  color: rgb(0, 0, 0);
  background-color: #fff;
  font-weight: 800;
}

.divEfectivo {
  color: #fff;
  width: 20%;
  text-align: center;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 9px;
  margin-left: 7px;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  gap: 10px;
  cursor: pointer;
  border: 2px solid #fff;
}

.divEfectivo:hover {
  background-color: #fff;
  color: rgb(0, 0, 0);
  font-weight: 800;
}

.divEfectivo input {
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 1.4rem;
  width: 18px;
  height: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.divTarjeta input {
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 1.4rem;
  width: 18px;
  height: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.divEfectivo label {
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.divTarjeta label {
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.divValidarTarjeta {
  margin-top: 10px;
  backdrop-filter: blur(10px);

  box-shadow: 0 0 10px #00000033;
  border-radius: 7px;
  padding-top: 2px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.formValidarTarjeta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divParesTarjeta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 8px;
}

.divParesTarjeta input {
  width: 200px;
  height: 35px;
  border-radius: 5px;
  border: none;
  text-align: center;
  outline: none;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 1.1rem;
  background-color: rgb(228, 228, 231);
}

.divFechaVencimiento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divFechaVencimiento label {
  color: #fff;
  font-size: 1.15rem;
  margin-left: 5px;
}

.inputCodigoSeguridad {
  margin-top: 20px;
}

.formValidarTarjeta button {
  background: transparent;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-size: 1.05rem;
  font-weight: 100;
  transition: all 0.2s ease;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  width: 150px;
  height: 36px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 2px solid rgb(0, 224, 97);
  margin-top: 15px;
  margin-bottom: 5px;
}

.formValidarTarjeta button:hover {
  color: rgb(51, 51, 51);
  background-color: rgb(0, 224, 97);
  font-weight: 800;
}

.divLineasVenta {
  margin-top: 10px;
  backdrop-filter: blur(10px);

  box-shadow: 0 0 10px #00000033;
  border-radius: 7px;
  padding-top: 2px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  overflow: auto;
}

.h2Total {
  color: #fff;
  font-weight: 100;
  margin-top: 10px;
}

.divLineaVenta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 10px;
}

.selectLineasVenta {
  width: 40%;
  height: 40px;
  border-radius: 5px;
  border: none;
  text-align: center;
  outline: none;
  padding-left: 7px;
  padding-right: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 1.1rem;
  background-color: rgb(228, 228, 231);
}

.h3Cantidad {
  color: #000;
  width: 30%;
  padding: 9px;
  font-weight: 600;
  font-size: 1.1em;
  border-radius: 5px;
  background-color: rgb(228, 228, 231);
  font-family: "Montserrat", sans-serif;
}

.h3Subtotal {
  color: #000;
  width: 30%;
  padding: 9px;
  font-weight: 600;
  font-size: 1.1em;
  border-radius: 5px;
  background-color: rgb(228, 228, 231);
  font-family: "Montserrat", sans-serif;
}

.divLineaVenta button {
  border-radius: 7px;
  font-weight: 100;
  font-size: 1.25rem;
  width: 50px;
  height: 40px;
  transition: all 0.2s ease;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 7px 5px 5px;
  background: transparent;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 2px solid rgb(255, 0, 60);
}

.divLineaVenta button:hover {
  background-color: rgb(255, 0, 60);
  color: #fff;
}

.btnRealizarVenta {
  background: transparent;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-size: 1.05rem;
  font-weight: 100;
  transition: all 0.2s ease;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  border: none;
  outline: none;
  cursor: pointer;
  width: 150px;
  height: 36px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 2px solid rgb(0, 224, 97);
  margin-top: 15px;
  margin-bottom: 5px;
}

.btnRealizarVenta:hover {
  color: rgb(51, 51, 51);
  background-color: rgb(0, 224, 97);
  font-weight: 800;
}
