.class {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  border-radius: 10px;
  width: 500;
  background: transparent;
  color: "#fff";
  backdrop-filter: blur(15px);
  box-shadow: 0 0 10px #00000033;
}
